navbar > h1 {
  font-family: "Heebo";
  color: #333333;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  width: 100px;
  margin-left: 52px;
}

navbar {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

ul > li {
  list-style-type: none;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: #333333;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
}

a:hover {
  color: #2d9cdb;
}

/* Header and Image */

.about-container {
  display: flex;
  flex-wrap: wrap;
}

.unhappy-line {
  font-family: "Poppins";
  color: #2d9cdb;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-left: 277px;
}

header > h1 {
  width: 543px;
  height: 144px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  margin-left: 277px;
}

.image-big {
  height: 354px;
}

.image-big > img {
  border-radius: 18px;
  max-width: 100%;
}

.help-text {
  font-family: "Poppins";
  color: #4f4f4f;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-left: 277px;
  width: 366px;
}

.contact {
  margin-left: 277px;
}

.contact > p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}

.contact > input {
  width: 350px;
  height: 57px;
  background: #f2f2f2;
  border-radius: 12px;
  color: #f2f2f2;
}

.input-text {
  color: #bdbdbd;
  padding-left: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.join-btn {
  width: 94px;
  height: 49px;
  background: #2d9cdb;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #f2f2f2;
}

.services > h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #333333;
  width: 346px;
  margin-left: 165px;
  margin-top: 100px;
}

.service-lists {
  display: flex;
  justify-content: space-around;
  height: 350px;
}

.ser-list {
  width: 280px;
  height: 300px;
  padding: 40px 20px;
  border-radius: 16px;
}

.icons {
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 14px;
}

.edit-icon {
  background: #2d9cdb;
}

.frontend-icon {
  background: #27ae60;
}

.backend-icon {
  background: #eb5757;
}

.ser-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.ser-list:hover {
  box-shadow: 10px 10px 15px #333333, -10px 10px 15px #333333;
}

.get-started:hover {
  background: #2d9cdb;
  color: #ffffff;
}

.get-started {
  margin-top: 50px;
  width: 116px;
  height: 42px;
  border: none;
  border-radius: 12px;
  background: #e0e0e0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.design-image > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #333333;
  width: 448px;
  margin-left: 165px;
}

.design-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box-image {
  width: 545px;
}
.box-image > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}

.box-image > h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.d-image {
  border-radius: 16px;
}

.downside {
  margin-top: 200px;
}

.upside {
  margin-bottom: 200px;
}

.see-more {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #2d9cdb;
}

/*Team Member Intro */

.team-intro {
  width: 273px;
  margin-left: 170px;
}

.team-intro > h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #eb5757;
}

.team-intro > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #333333;
}

.team-intro > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
}

.team {
  display: flex;
}

.team-photo {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.team-member {
  width: 290px;
  height: 300px;
  border-radius: 24px;
  padding: 10px;
}

/* Footer */

.footer {
  margin-left: 165px;
}

.footer > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #333333;
  width: 937px;
}

.about > img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.info > h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  margin-bottom: 0;
}

.info > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #828282;
  margin-top: 0;
}

.info {
  padding-left: 20px;
}
.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
